body{
    
}
.bus_container{
    padding: 5px;
    margin-top: 10px;
    height: 100px;
    width: 105%;
    left: 0;
    background: #f0f0f0;
    text-align: center;
    color: grey;
    margin-left: -10px;
    font-size: 13px;
}
.smallFonts{    
}