body{
    
}
.bus_container{
    padding: 5px;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    left: 0;
    background: #f43b58;
    text-align: center;
    color: white;
    font-size: 13px;
}
.smallFonts{    
}