body{
    overflow: hidden;
}
#splash{
    background: #f1f1f1;
    text-align: center;
    color: grey;
}
.logoHeader{
    font-family: pacificoregular;
    color: darkslategrey;
    font-size: 2em;
}
#splash #logo{
    margin-top: 80px;
}
#redirect{
    position: absolute;
    bottom:050px;
    width: 100%;
    left: -10px;
    padding: none;
    border: none;
    color: darkslategray;
    display: none;
}