body{
    overflow: hidden;
}
#splash{
    background: #DE2A27;
    text-align: center;
    color: white;
}
.logoHeader{
    font-family: pacifico;
    color: white;
    font-size: 2em;
}
#splash img{
    margin-top: 80px;
}
#redirect{
    position: absolute;
    bottom:0;
    width: 100%;
    left: -10px;
    padding: none;
    border: none;
}